/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* general  */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

header {
  padding: 20px 40px;
}

main {
  padding: 50px;
  background-color: #f6f8f9;
}

.container {
  width: 70%;
  min-width: 420px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}

li {
  list-style-type: none;
}

/* header  */

.logo img {
  height: 40px;
  vertical-align: middle;
}

.logo span {
  font-weight: 700;
  font-size: 40px;
  vertical-align: middle;
}

/* main: button */

.btn {
  padding: 20px 40px;
  border-bottom: 5px solid #f6f8f9;
}

button {
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 16px;
}

#selected {
  color: white;
  background-color: #47adf1;
  border: 2px solid #47adf1 ;
}
#selected:hover {
  color: #47adf1;
  background-color: white;
  cursor: pointer;
}
#selected:hover {
  cursor: pointer;
  background-color: rgb(33, 149, 227);
  border: rgb(33, 149, 227);
}

#not-selected {
  color: #cbd1d6;
  background-color: white;
  border: 2px solid #cbd1d6;

}
#not-selected:hover {
  color: white;
  background-color: #47adf1;
  border: 2px solid #47adf1;
  cursor: pointer;
}
#not-selected:hover {
  cursor: pointer;
  background-color: #47adf1;
  border: #47adf1;
  color: white  ;
}
/* main: list */

.list {
  padding: 30px;
}

.list > li {
  padding-bottom: 30px;
}

.list li b {
  font-size: 1.5rem;
}

.list li ul li {
  padding-top: 15px;
}

.list div,
.list p {
  display: inline-block;
}

.list p {
  margin: 0 8px;
}

.cross, .check { 
  display: inline-block;
  margin-left: 20px;
  margin-right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  border: 1px solid;
}

.check {
  color: green;
}

.cross {
  color: red;
} 
/* versione alternativa: inserisci il tag span ma dato che width e heigth non funzionano perchè stiamo parlando di caratteri, modifica il padding per darà la forma di un cerchio al bordo

span.check   {
  color: green;
  border: 2px solid green;
  padding: 4px 8px;
  border-radius: 100%;
  text-align: center;
} 
*/


/* list-button */
 
.badge {
  font-size: 16px;
  margin-left: 6px;
  padding: 10px 18px;
  color: white;
  border: none;
  border-radius: 15px;
}

.editorial {  
  background-color: #47adf1;
}

.goals {
  background-color: #9c72e4;
}

.recruiting {
  background-color: #64c0a9;
}

.mobile {
  background-color: #f29e33;
}

.website {
  background-color: #d863a1;
}

.sales {
  background-color: #b0c926;
}

/* versione alternativa: si inserisce il "falso bottone" con la pseudo classe ::after e si applicano le proprietà, però va copia e incollato per tutti i falsi bottoni.
per provare inserisci una classe subtitle nel tag <li> della lista genitore:

.subtitle li::after {
  content: "Editorial";
  background-color: green;      
  font-size: 16px;
  padding: 12px 20px;
  color: white;
  border: none;
  border-radius: 20px;
} 
*/


a {
  text-decoration: initial;
}